/* Základní styl pro formulář */
.location-modal {
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--background-primary);
    color: var(--text-normal);
}

/* Okno modalu */
.location-modal .modal-content {
    padding: 10px;
    border-radius: 8px;
    background-color: var(--background-primary);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Formulář */
.location-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Řádek pro název a typ */
.name-and-type-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/* Vstupy pro název lokace a typ */
.location-form input,
.location-form select {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid var(--border-muted);
    background-color: var(--background-secondary);
    color: var(--text-normal);
    width: 100%;
}

/*heding*/
.location-form h2 {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid var(--border-muted);
    background-color: var(--background-secondary);
    color: var(--text-normal);
    width: 100%;
}

/* Miniatura fotky */
.photo-thumbnail {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid var(--border-muted);
    background-color: var(--background-secondary);
}

/* Tlačítka */
.location-form button {
    background-color: var(--accent);
    color: var(--text-on-accent);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.location-form button:hover {
    background-color: var(--accent-hover);
}

/* Styl pro tmavý režim */
@media (prefers-color-scheme: dark) {
    .location-modal {
        background-color: var(--background-modifier-hover);
    }

    .location-form input,
    .location-form select,
    .location-form textarea {
        background-color: var(--background-modifier-hover);
        border: 1px solid var(--border-muted);
        color: var(--text-normal);
        margin-top: 5px;
    }

    .location-form button {
        background-color: var(--accent);
        color: var(--text-on-accent);
    }

    .location-form button:hover {
        background-color: var(--accent-hover);
    }
}
