/* Základní styl pro formulář */
.location-modal {
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--background-primary);
    color: var(--text-normal);
}

/* Okno modalu */
.location-modal .modal-content {
    padding: 10px;
    border-radius: 8px;
    background-color: var(--background-primary);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Formulář */
.location-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.location-form input,
.location-form textarea,
.location-form select {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid var(--border-muted);
    background-color: var(--background-secondary);
    color: var(--text-normal);
    width: 100%;
}

/* Vzhled dropdown boxu (select) */
.location-form select {
    appearance: none;
    background-color: var(--background-secondary);
    border: 1px solid var(--border-muted);
    color: var(--text-normal);
    padding: 10px;
    border-radius: 4px;
}

/* Vzhled tlačítka */
.location-form button {
    background-color: var(--accent);
    color: var(--text-on-accent);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.location-form button:hover {
    background-color: var(--accent-hover);
}

/* Styl pro tmavý režim */
@media (prefers-color-scheme: dark) {
    .location-modal {
        background-color: var(--background-modifier-hover);
    }

    .location-form input,
    .location-form textarea,
    .location-form select {
        background-color: var(--background-modifier-hover);
        border: 1px solid var(--border-muted);
        color: var(--text-normal);
    }

    .location-form button {
        background-color: var(--accent);
        color: var(--text-on-accent);
    }

    .location-form button:hover {
        background-color: var(--accent-hover);
    }
}
